
@{
    ViewBag.Title = "HataOlustu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hata Olustu</h2>

<div>
	@Html.ActionLink("Hatayı email olarak gönder", "HataOlustu", "Error...")
	<h3>**??**</h3>
</div>