body {
    padding-top: 120px;
    padding-bottom: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.homeLogo {
	background: url(../images/1200px-Service_mark.svg.png) no-repeat;
	background-size: 150px 60px;
	height: 70px;
	/*margin: 5px;*/
	width: 150px;
}
.navbar li {
	font-size: larger;
	font-weight:bold;
 }

/*.navbar li >a {
	font-size: larger;
	font-weight: bold;
	color: aqua; 
}*/ 